@use '../abstract/abstract.scss' as *;

:root {
	--default-font-size: 12px;
	--default-font-color: #{$defaultFontColor};
	--error-font-color: #{$errorFontColor};
	--font-size-xs: 10px;
	--font-size-s: 14px;
	--font-size-m: 16px;
	--font-size-l: 24px;
	--font-size-xl: 32px;
	font-size: var(--default-font-size);
	
	&[data-theme='dark'] {
		--default-font-color: #{$defaultFontColorDark};
		--error-font-color: #{$errorFontColorDark};
	}

	@include after-mobile {
		--default-font-size: 14px;
	}
}

* {
	color: var(--default-font-color);
	font-family: 'Roboto';
}

h1 {
	font-size: 24px;
	font-weight: 400;

	@include mobile {
		font-size: 20px;
	}
}

h2 {
	font-size: 20px;
	font-weight: 400;
}

h3 {
	font-size: 16px;
	font-weight: 400;
}

h4 {
	font-size: 14px;
	font-weight: 400;
}

.bold {
	font-weight: 400;
}

p {
	text-align: justify;
	line-height: 1.5rem;
	margin-bottom: 1rem;
}

ul {
	list-style: none;
	padding-left: 2rem;
	line-height: 1.5rem;
	margin: 1rem 0;

	li:not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

.link {
	cursor: pointer;
	opacity: .6;
	transition: all .2s ease;

	&:hover {
		opacity: 1;
	}
}

.text {
	&-noselect {
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&-size {
		&-xs {
			font-size: var(--font-size-xs);
		}

		&-s {
			font-size: var(--font-size-s);
		}

		&-m {
			font-size: var(--font-size-m);
		}

		&-l {
			font-size: var(--font-size-l);
		}

		&-xl {
			font-size: var(--font-size-xl);
		}
	}

	&-weight {
		&-l {
			font-weight: 500;
		}
		
		&-xl {
			font-weight: 600;
		}
	}

	&-centered {
		text-align: center;
	}
}
